*.log
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.terraform.tfstate
.terraform.tfstate.backup
*.tfvars
*.tfvars.json
*.tfvars.yaml
*.tfvars.yml
*.tfvars.tfvars
*.tfvars.tfvars.json
*.tfvars.tfvars.yaml
*.tfvars.tfvars.yml
*.tfvars.tfvars.tfvars
*.tfvars.tfvars.tfvars.json
*.tfvars.tfvars.tfvars.yaml
*.tfvars.tfvars.tfvars.yml

# Ignore crash logs
crash.log
crash-*.log